* {
    margin: 0px;
    padding: 0px
}

.grid-container {
    background-color: black;
    border: solid crimson;
    display: grid;
    grid-template-columns: 100px 50px 300px;
    gap: 20px 50px;
    grid-template-rows: 100px 300px 400px;
    justify-content: center;
    align-content: end;
}

.grid-item {
    background-color: #2196F3;
    color: white;


    text-align: center;


}
